**/.output
**/.nuxt
**/.nuxt-storybook
**/.storybook
**/node_modules
**/.cache
web-frontend/reports/

**/.venv/
**/.ruff_cache
**/.pytest_cache
**/__pycache__
**/*.pyc
**/*.pyo
backend/reports/
backend/src/baserow.egg-info
backend/media/

*.iml
.idea/
.vscode/
.local/
.git/
**/.claude/
**/.gitignore
**/Dockerfile
**/docker-compose*.yml