.custom-style-button__wrapper {
  position: relative;
}

.custom-style--float {
  .custom-style__button {
    position: absolute;
    right: 4px;
    top: -6px;
  }
}

.custom-style__context {
  border: none;
  box-shadow: none;
}

.custom-style__header {
  font-size: 13px;
  color: $palette-neutral-800;
  font-weight: 500;
  display: flex;
  height: 40px;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.custom-style__title-icon {
  font-size: 16px;
  margin-right: 10px;
}

.custom-style__title {
  flex: 1;
}

.custom-style__config-blocks {
  // 100% - top bar height
  height: calc(100% - 40px);
  overflow: hidden;
}

.custom-style__config-block-title {
  padding: 0 10px;
}

.custom-style__config-block {
  padding-left: 0;
}

.custom-style__context .tabs__header {
  background-color: $color-neutral-50;
}

.custom-style__form {
  .tabs__header {
    padding: 0;
  }
}
