.add-element-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 40px);
  height: 120px;
  border: 1px dashed $palette-neutral-400;
  background-color: $palette-neutral-50;
  margin: 20px;

  @include rounded($rounded-md);

  &:hover {
    border: 1px solid $palette-blue-500;
    background-color: $palette-blue-50;
    border-color: $palette-blue-300;
    cursor: pointer;
  }
}

.add-element-zone__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 10px; // Add more space around to make the click easier
}

.add-element-zone__label {
  font-size: 13px;
  color: $palette-neutral-1000;
  cursor: pointer;
}

.add-element-zone__icon {
  font-size: 16px;
  border: solid 1px $palette-neutral-400;
  border-radius: 100%;
  padding: 8px;
  background: $white;
  line-height: 1em;
  cursor: pointer;

  @include elevation($elevation-low);

  .add-element-zone:hover & {
    color: $palette-blue-600;
  }

  .add-element-zone.add-element-zone--disabled & {
    cursor: not-allowed;
  }
}

.add-element-zone--full-height {
  height: auto;
  flex: 1;
  min-height: 0;
  padding: 120px 0;
  max-height: 600px;
}

.add-element-zone--drag-active {
  border: 1px dashed $palette-blue-400;
  background-color: rgba($palette-blue-50, 0.6);

  &:hover {
    border-color: $palette-green-400;
    background-color: rgba($palette-green-50, 0.6);
  }
}

.add-element-zone--drag-over {
  background-color: rgba($palette-green-100, 0.7);
  border: 1px dashed $palette-green-500;
}
