.formula-input-field {
  height: auto;
  font-size: 13px;
  min-height: 38px;
  padding: 5px 12px;
  line-height: 25px;

  // If the field is empty, then give it the
  // same padding as a normal form input field.
  &:has(div.is-editor-empty) {
    padding: 12px 16px;
    line-height: 100%;
  }

  &.formula-input-field--large {
    line-height: 25px;
    padding: 10px 12px;
    min-height: 48px;
  }
}

.formula-input-field--focused {
  border-color: $color-primary-500;
}

.formula-input-field--disabled {
  user-select: none;
}

.formula-input-field__reset-button {
  width: 100%;
}

/* stylelint-disable-next-line selector-class-pattern */
.ProseMirror div.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: $color-neutral-500;
  pointer-events: none;
  height: 0;
}
