.function-formula-component {
  height: 24px;
  display: inline-block;
  vertical-align: top;
}

.function-formula-component__name {
  color: $palette-cyan-800;
  font-weight: 500;
  background-color: $palette-cyan-50;
  padding: 0 8px;
  display: inline-block;
  vertical-align: top;
  height: 24px;

  @include rounded;
}

.function-formula-component__parenthesis {
  color: $palette-cyan-800;
  font-weight: 500;
  background-color: $palette-cyan-50;
  padding: 0 8px;
  height: 24px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;

  @include rounded;
}
