.local-baserow-form__user {
  display: flex;
  align-items: center;
  gap: 20px;
  line-height: 18px;

  & .presentation {
    flex: 1 0 auto;
  }
}

.field-mapping-form__placeholder {
  width: 100%;
  height: 36px;
  background-color: $white;

  @include rounded($rounded-md);
}
